@import url('./reset.css');
@import url('./common.css');
/* 인덱스 페이지 내용 */

/* 공통스타일 */
.html{font-size: 16px;}
.body{
    color: #555;
}
.title > h2{color: #000;
    font-size: 40px;}

.title > p{
    padding-top: 10px;
    color: #555;
}

/* ====header==== */

header{
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    padding: 50px 0;
}
header > div{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div >h1{
    font-size: 20px;}

header > div >h1 > a{
    color: white;
}

header > div > nav{}
header > div > nav > a{
    padding: 0 30px;
    font-size: 20px;
    color: white;
}


.spot{
    width: 100%;
    height: 100vh;
    background:url('../imgs/img_main-spot.jpg') 0 0 / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.spot>div{
    color: white;
    
}

.spot>div>b{
    font-size: 62px; color: inherit;
}
.spot>div>p{
    font-size: 18px; color: inherit;
    padding: 20px 0 30px;
}
.spot>div>a{
    color: inherit;
    background-color: orange;
    padding: 10px 30px;
    display: inline-block;
}
/* ===============================================
====================about==========================
============================================= */

.about{
    width: 1300px; margin: 0 auto;
    text-align: center;   
    padding: 100px 0;                                                                                                                                                                                                                                                                           
}

.about > .profile{
    width: 25%;
    display: flex;
    justify-content: center;
}
.about .profile>figure{

}
.about .profile>figure>p{
    border-radius: 100%;
    background-color: orange;
    width: 160px; height: 160px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.about.profile>figure>p>img{
    width: 100%;
}


.profile>figure>figcaption>b{
    font-size: 24px;
}
.profile>figure>figcaption>p{}


/* ===============================================
=================portfolio==========================
============================================= */

.portfolio{
    text-align: center;
    background-color: #eee;
    padding: 100px 0;
}

.portfolio .title,
.portfolio .contents{
    width: 1300px; margin: 0 auto; 
}

.portfolio .contents{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
  }

.portfolio .contents > figure{
    flex: 0 0 32%;
    margin-bottom: 2%;

    
    /* width: 20%; 
    
    flex-grow: 1;
    flex-grow: 1;
    flex-basis: 20%; */
}
.portfolio .contents > figure > p{
    /* 호버효과 트랜스폼 x, 위드값으로 지정했을 때
    세로 값 지정 height: 300px; */
    overflow: hidden;
}
.portfolio .contents > figure > p img{
    width: 100%; transition: 0.5s;
}

.portfolio .contents > figure > figcaption{}
.portfolio .contents > figure > figcaption>b{
    font-size: 24px; color: #000;
}
.portfolio .contents > figure > figcaption>p{
    line-height: 1.6;
    
}

.portfolio .contents > figure:hover > p img{
    transform: scale(1.2);
}

.about .contents > figure:hover >p{
    background-color: rgb(193, 233, 163);
    border-radius: 20%;
}

.contact{
    background-color: #5d5d5d;
    padding: 100px 0;
    text-align: center;
}
.contact h2,
.contact p {color: white;}
.contact .contents{
    width: 1300px; margin: 60px auto;
}
















